<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" 
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">

  <!-- Include -->
  <?include ..\Properties\InstallerGUID.wxi?>
  <?include ..\Properties\InstallerProductInfo.wxi?>
  <?include ..\Properties\InstallerVersionInfo.wxi?>
  <?include ..\Properties\InstallerResourceInfo.wxi?>

  
  <!-- GUID -->
  <?define GUID_UpgradeCode="$(var.GUID_WOL_SetupBootstrapper_UpgradeCode)"?>

  
  <!-- Product Information -->
  <?define ProductName="$(var.WOL_ProductName)"?>

  <!-- Source Files (Common) -->
  <?define Source_LicenseFile="$(var.Resource_LicenseFile_RTF)"?>
  <?define Source_LogoFile="$(var.Resource_LogoFile_WOLSetupBootstrapper)"?>

  <!-- Source Files -->
  <?define Source_ProductComponent="$(var.Resource_WOLSetup)"?>
  
  <!-- Launch Target -->
  <?define LaunchTarget="[ProgramFilesFolder]$(var.Utilities_ProductFolderName)\$(var.WOL_ProductFolderName)\WOL.exe"?>


  <!-- Bundle -->
  <Bundle Name="$(var.ProductName) $(var.Version)" 
          Version="$(var.Version)" 
          Manufacturer="$(var.Manufacturer)" 
          Copyright="$(var.Copyright)"
          UpgradeCode="$(var.GUID_UpgradeCode)">

    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLargeLicense">
      <bal:WixStandardBootstrapperApplication LicenseFile="$(var.Source_LicenseFile)"
                                              LogoFile="$(var.Source_LogoFile)"
                                              ShowVersion="yes"
                                              SuppressOptionsUI="yes"
                                              LaunchTarget="$(var.LaunchTarget)" />
    </BootstrapperApplicationRef>

		<Chain>
			<MsiPackage SourceFile="$(var.Source_ProductComponent)" />
		</Chain>
	</Bundle>
</Wix>